<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{LIBRARY_NAME}} Liiibrary.Space</title>
  <link rel="stylesheet" href="/0_font/font.css">
  <link rel="stylesheet" href="/library-page.css">
</head>
<body style="background: {{LIBRARY_COLOR}};">
  <h1>{{LIBRARY_NAME}} Liiibrary</h1>

  <div style="position: fixed; top: 30px; right: 20px;">
    <input id="itemPathInput" type="text" placeholder="item URL here">
    <button id="addItemBtn" type="button">add</button>
  </div>

  <div id="bookList"></div>

  <div id="bookCard" style="display:none;">
    <button id="closeBookCardBtn" type="button">Close</button>

    <h2 id="cardTitle"></h2>
    <p><strong>Author:</strong> <span id="cardAuthor"></span></p>
    <p><strong>Library:</strong> <span id="cardLibrary"></span></p>

    <hr>
    <div>
      <div><span id="liveNoteDate"></span></div>
      <input type="text" id="noteBorrowerInput" placeholder="borrower">
      <input type="text" id="noteCommentInput" placeholder="comment">
      <button id="addNoteSubmitBtn" type="button">add note</button>
    </div>

    <hr>
    <div id="cardNote"></div>

    <button id="openBookBtn" type="button">open book</button>
  </div>

  <!-- <img id="shelf_1" style="position: fixed; z-index: -1;" src="/1_img/shelf_1.png" can-move> -->
  <div id="itemImages"></div>

  <script>
    window.CURRENT_LIBRARY = "{{LIBRARY_NAME}}";
  </script>
  <script src="/library-page.js"></script>
  <script type="module">
    import { playhtml } from 'https://unpkg.com/playhtml';
    playhtml.init();
  </script>
</body>
</html>